version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '07:00'
      timezone: Etc/UTC
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        update-types:
          - 'minor'
          - 'patch'
      major:
        update-types:
          - 'major'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
      time: '07:00'
      timezone: Etc/UTC
    open-pull-requests-limit: 10
    groups:
      minor-and-patch:
        update-types:
          - 'minor'
          - 'patch'
      major:
        update-types:
          - 'major'
